@model HealthyMe.Models.DietPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DietPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DietName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accuracy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DietId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
